<div class="card large">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="../../../assets/images/secret-agent-stamp.jpg" alt="image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 no-padding has-text-danger">{{kid.nickname}}</p>
        <p class="subtitle is-6 has-text-dark"><span>{{kid.biscuitsEarned}}</span><span class="icon"><fa-icon [icon]="faCookieBite"></fa-icon></span></p>
      </div>
      <div class="media-right">
        <button class="button is-primary" (click)="toggleEdit()"><span class="icon"><fa-icon [icon]="faEdit"></fa-icon></span></button>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'is-active': isEditToggled}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-danger">{{kid.nickname}}</p>
      <button class="delete is-danger" aria-label="close" (click)="toggleEdit()"></button>
    </header>
    <section class="modal-card-body">
     <form [formGroup]="updateKidForm" (ngSubmit)=onSubmit()>
      <div class="field">
        <label class="label has-text-primary">Nickname</label>
        <div class="control has-icons-left">
          <input type="text" class="input form-control" formControlName="nickname" value={{kid.nickname}} name="nickname"
          [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }"/>
          <span class="icon is-left has-text-primary">
            <fa-icon [icon]="faUserSecret"></fa-icon>
          </span>
        </div>
        <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
          <p *ngIf="f.nickname.errors.required" class="help is-danger has-text-weight-bold">Nickname is required</p>
        </div>
      </div>
      <div class="field is-grouped has-text-centered">
        <div class="control">
          <button type="submit" class="button is-primary">Save changes</button>
        </div>
        <button type="reset" class="button is-text has-text-dark" (click)="deleteKid()">Delete</button>
        <p *ngIf="f.submitted && isNotUpdated" class="help is-danger has-text-weight-bold">
          Update failed!<br/>{{errorMessage}}
        </p>
      </div>
    </form>
  </section>
</div>
</div>
