<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="column is-10 is-offset-2">
        <h3 class="title has-text-danger">
          Missions
        </h3>
      </div>

      <div class="row">
      <div class="column is-four-fifths is-three-fifths-mobile">
          <div class="tabs is-right has-text-light">
            <ul>
              <li [ngClass]="{'is-active': isKidSelected}" *ngFor="let kid of kids" (click)="onSelect(kid)">
                <a>
                  <span>{{kid.nickname}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row columns is-multiline">
        <div class="column is-one-third is-two-thirds-mobile">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title has-text-danger">
                Add Mission
              </p>
            </header>
            <div class="card-content">
              <form [formGroup]="createMissionForm" (ngSubmit)=onSubmit()>
                <div class="field">
                <label class="label has-text-primary">Action</label>
                <div class="field has-addons">
                  <div class="control has-icons-left">
                    <input type="text" formControlName="action" class="input form-control" name="action" placeholder="Describe mission in few words"
                    [ngClass]="{ 'is-invalid': submitted && f.action.errors }"/>
                    <span class="icon is-left has-text-primary">
                      <fa-icon [icon]="faUserSecret"></fa-icon>
                    </span>
                  </div>
              </div>
              <div *ngIf="submitted && f.action.errors" class="invalid-feedback">
                <p *ngIf="f.action.errors.required" class="help is-danger has-text-weight-bold">Action is required</p>
              </div>
            </div>

            <div class="field">
                <label class="label has-text-primary">Biscuits to earn</label>
                <div class="field has-addons">
                  <div class="control has-icons-left">
                    <input type="text" formControlName="biscuits" class="input form-control" name="biscuits" placeholder="How many biscuits ?"
                    [ngClass]="{ 'is-invalid': submitted && f.biscuits.errors }"/>
                    <span class="icon is-left has-text-primary">
                      <fa-icon [icon]="faUserSecret"></fa-icon>
                    </span>
                  </div>
              </div>
              <div *ngIf="submitted && f.biscuits.errors" class="invalid-feedback">
                <p *ngIf="f.biscuits.errors.required" class="help is-danger has-text-weight-bold">Biscuits is required</p>
              </div>
            </div>  
            <div class="field is-grouped has-text-centered">
                <div class="control">
                  <button type="submit" class="button is-primary is-medium">Launch!</button>
                </div>
                <p *ngIf="f.submitted && isNotCreated" class="help is-danger has-text-weight-bold">
                    Add mission failed!<br/>{{errorMessage}}
                  </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

      <div class="row columns is-multiline">
        <div class="column is-one-third is-two-thirds-mobile" *ngFor="let mission of missions">
          <app-mission-details [mission]="mission"></app-mission-details>
      </div>
    </div>
  </div>
  </div>
</section>



