<section class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="column is-10 is-offset-2">
        <h3 class="title has-text-dark">
          Treasures
        </h3>
      </div>

      <div class="row columns is-multiline">
        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card large">
            <div class="card-image">
              <figure class="image">
                <img src="https://source.unsplash.com/uzDLtlPY8kQ" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsDown" size="2x"></fa-icon></span>
                </div>
                <div class="media-content has-text-centered">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span> costs 126 </span><span class="icon"><fa-icon
                    [icon]="faCookieBite"></fa-icon></span></p>
                </div>
                <div class="media-right has-text-centered">
                  <span class="icon"><fa-icon [icon]="faThumbsUp" size="2x"></fa-icon></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



