<section class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-dark">
          New Mission
        </h3>
        <form [formGroup]="addMissionForm" (ngSubmit)=onSubmit()>
          <div class="field">
            <label class="label has-text-warning">Action to complete</label>
            <div class="control has-icons-right">
              <input type="text" formControlName="action" class="input form-control" placeholder="Describe action in few words"
                     name="action"
                     [ngClass]="{ 'is-invalid': submitted && f.action.errors }"/>
              <span class="icon is-right">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>
            </div>
            <div *ngIf="submitted && f.action.errors" class="invalid-feedback">
              <p *ngIf="f.action.errors.required" class="help is-danger has-text-weight-bold">Action description is required</p>
            </div>
          </div>

          <div class="field">
            <label class="label has-text-warning">Biscuits To Earn</label>
            <div class="control has-icons-right">
              <input type="biscuits" formControlName="biscuits" class="input from-control" name="biscuits" placeholder={{mission.biscuitsToEarn}}
                     [ngClass]="{ 'is-invalid': submitted && f.biscuits.errors }"/>
              <span class="icon is-right">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>

            </div>
            <div *ngIf="submitted && f.biscuits.errors" class="invalid-feedback">
              <p *ngIf="f.password.biscuits.required" class="help is-danger has-text-weight-bold">Number of biscuits is required</p>
            <!--  <p *ngIf="f.password.errors.min" class="help is-danger has-text-weight-bold">Password must be at least 6 characters</p>-->
            </div>
          </div>
          <div class="field is-grouped has-text-centered">
            <div class="control">
              <button type="submit" class="button is-primary is-medium">Add this mission!</button>
            </div>
            <p *ngIf="f.submitted && isNewMissionFailed" class="help is-danger has-text-weight-bold">
              Add Mission failed!<br/>{{errorMessage}}
            </p>
            <button type="reset" class="button is-text has-text-grey-light" (click)="cancelAddMission()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
