<section class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="column is-10 is-offset-2">
        <h3 class="title has-text-dark">
          Kids
        </h3>
      </div>
        <div class="row columns is-multiline">
        <div class="column is-one-third">
          <div class="card large">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-96x96">
                    <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4 no-padding has-text-primary">Walter </p>
                  <p class="subtitle is-6 has-text-dark"><span>126</span><span class="icon"><fa-icon [icon]="faCookieBite"></fa-icon></span> </p>
                  <p class="title is-7 has-text-success"><a>1 treasure(s)</a></p>
                </div>
                <div class="media-right">
                  <a class="icon"><fa-icon [icon]="faEdit"></fa-icon></a>
                </div>
              </div>
              <div class="media-content">
                <progress class="progress is-small" value="15" max ="100"></progress>
              </div>
              <div class="content">
                10 / 15 missions
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card large">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-96x96">
                    <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4 no-padding has-text-dark">Walter</p>
                  <p class="subtitle is-6 has-text-dark"><span>126 biscuits</span><span class="icon"><fa-icon [icon]="faCookieBite"></fa-icon></span> </p>
                </div>
              </div>
              <div class="media-content">
                <progress class="progress is-small" value="15" max ="100"></progress>
              </div>
              <div class="content">
                10 / 15 missions
              </div>
            </div>
          </div>
        </div>

          <div class="column is-one-third">
            <div class="card large">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4 no-padding has-text-dark">Walter</p>
                    <p class="subtitle is-6 has-text-dark"><span>126 biscuits</span><span class="icon"><fa-icon [icon]="faCookieBite"></fa-icon></span> </p>
                  </div>
                </div>
                <div class="media-content">
                  <progress class="progress is-small" value="15" max ="100"></progress>
                </div>
                <div class="content">
                  10 / 15 missions
                </div>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="card large">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img src="https://i.imgsafe.org/a4/a4bb9acc5e.jpeg" alt="image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4 no-padding has-text-dark">Walter</p>
                    <p class="subtitle is-6 has-text-dark"><span>126 biscuits</span><span class="icon"><fa-icon [icon]="faCookieBite"></fa-icon></span> </p>
                  </div>
                </div>
                <div class="media-content">
                  <progress class="progress is-small" value="15" max ="100"></progress>
                </div>
                <div class="content">
                  10 / 15 missions
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</section>


