<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="column is-10 is-offset-2">
        <h1 id="top" class="title has-text-danger">
          Kids
        </h1>
      </div>
      <div class="row columns is-multiline is-four-fifths-mobile is-two-third-tablet">
      <div class="column is-one-third-desktop">
        <div class="card">
          <header class="card-header">
            <div class="card-header-title has-text-danger">
              Add kid
            </div>
          </header>
          <div class="card-content">
            <form [formGroup]="createKidForm" (ngSubmit)=onSubmit()>
              <label class="label has-text-primary">Nickname</label>
              <div class="field has-addons">
                <div class="control has-icons-left">
                  <input type="text" formControlName="nickname" class="input form-control" name="nickname"
                  [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }"/>
                  <span class="icon is-left has-text-dark">
                    <fa-icon [icon]="faUserSecret"></fa-icon>
                  </span>
                </div>
                <div class="control">
                  <button type="submit" class="button is-primary">
                   <span class="icon">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </span>
                  <span>Join!</span>
                </button>
              </div>
            </div>
            <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
              <p *ngIf="f.nickname.errors.required" class="help is-danger has-text-weight-bold">Nickname is required</p>
              <p *ngIf="f.submitted && isNotCreated" class="help is-danger has-text-weight-bold">
                Add kid failed!<br/>{{errorMessage}}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div class="row columns is-multiline is-four-fifths-mobile is-four-fifths-tablet">
      <div class="column is-one-third-desktop" *ngFor="let kid of kids">
          <div class="card large">
        <app-kid-details [kid]="kid"></app-kid-details>
        <div class="card-footer">
        <a class="has-text-primary card-footer-item" (click)="goToMissions(kid)"><span class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></span><span>Go to missions!</span></a>
      </div>
      </div>
      </div>
    </div>
    <div class="buttons is-right">
    <a class="button is-primary" (click)="goToTop()"><span class="icon"><fa-icon [icon]="faArrowUp"></fa-icon></span><span>Go to top</span></a>
    </div>
  </div>
</div>
</section>


