<section class="hero is-dark is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="column is-10 is-offset-2">
        <h3 class="title has-text-danger">
          Kids
        </h3>
      </div>
      <div class="row columns is-multiline">
      <div class="column is-one-third is-two-thirds-mobile">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title has-text-danger">
              Add kid
            </p>
          </header>
          <div class="card-content">
            <form [formGroup]="createKidForm" (ngSubmit)=onSubmit()>
              <label class="label has-text-primary">Nickname</label>
              <div class="field has-addons">
                <div class="control has-icons-left">
                  <input type="text" formControlName="nickname" class="input form-control" name="nickname"
                  [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }"/>
                  <span class="icon is-left has-text-primary">
                    <fa-icon [icon]="faUserSecret"></fa-icon>
                  </span>
                </div>
                <div class="control">
                  <button type="submit" class="button is-primary">
                   <span class="icon">
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </span>
                  <span>Join!</span>
                </button>
              </div>
            </div>
            <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
              <p *ngIf="f.nickname.errors.required" class="help is-danger has-text-weight-bold">Nickname is required</p>
              <p *ngIf="f.submitted && isNotCreated" class="help is-danger has-text-weight-bold">
                Add kid failed!<br/>{{errorMessage}}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div class="row columns is-multiline">
      <div class="column is-one-third" *ngFor="let kid of kids">
        <app-kid-details [kid]="kid"></app-kid-details>
      </div>
    </div>
  </div>
</div>
</section>


